@model OrderViewModel
@{
    ViewBag.Title = "Order";
}
<div class="row">
    <div class="col-md-12">
        <h1>Details:</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <h3>Information about order:</h3>
        <p><b>Id Order:</b> @Model.Id</p>
        <p><b>Status:</b> @Model.Status</p>
        <p><b>Creating a order:</b> @Model.Created</p>
        <p><b>Updating a order:</b> @Model.Updated</p>

        <h3>Purchased items:</h3>
        @foreach (var item in Model.Products)
        {
            <p><b>Id product:</b> @item.Product.Id</p>
            <p><b>Name:</b> @item.Product.Title</p>
            <p><b>Price Purchase:</b> @item.PricePurchase; <b>Price now on this product:</b> @item.Product.Price</p>
        }
    </div>
</div>