@model ProductViewModel

@{
    ViewData["Title"] = Model.Title;
}
<div class="row">
    <div class="col-md">
        <div class="media">
            @if (Model?.Image?.BinaryData != null)
            {
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image.BinaryData))" class="mr-3" alt="@Model.Image.Name">
            }
            else
            {
                <img src="/img/no-image.jpg" class="mr-3" alt="no-image">
            }
        <div class="media-body">
            <h3 class="mt-0">@Model.Title</h3>
            <p><b>Price:</b> @Model.Price</p>
            <p><b>Status:</b> @Model.Status</p>
            <h5 class="mt-1">Description</h5>
            <p> @Model.Content</p>
            @if (Model.Status == Shop.Domain.enums.ProductStatus.Available)
            {
                <a src="#" class="btn btn-success">Buy</a>
            }
            else
            {
                <button src="#" class="btn btn-success" disabled>Buy</button>
            }
        </div>
        </div>
    </div>
</div>
