@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-md-12">
        <h1>Login:</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-antiforgery="true" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
            <div class="form-group">
                <div class="validation" asp-validation-summary="All"></div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Email"></label><br />
                <input class="form-control" asp-for="@Model.Email" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Password"></label><br />
                <input class="form-control" asp-for="@Model.Password" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.RememberMe">Remember me</label>
                <input asp-for="@Model.RememberMe" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
        </form>
    </div>
</div>