@model CartViewModel
@{
    ViewData["Title"] = "Cart";
}
<div class="row">
    <div class="col">
        <h1>Cart:</h1>
    </div>
</div>
<div class="row mt-1">
    <div class="col-md">
        @if (Model != null && Model.Products != null)
        {
            <h3>Products</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Price</td>
                        <td>Count</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>@item.Product.Title</td>
                            <td>@item.Product.Price</td>
                            <td>@item.Count</td>
                            <td>
                                <button id="ButtonDeleteProduct"
                                        data-id="@item.Product.Id" class="btn btn-danger">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3>Total: @Model.TotalSum</h3>
            <form asp-antiforgery="true" asp-controller="Cart" asp-action="MakeOrder">
                <input type="submit" class="btn btn-success" value="Make an order" />
            </form>
        }
        else
        {
            <h2>Cart is empty</h2>
        }
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="CartModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <a asp-controller="Cart" asp-action="index" class="btn btn-secondary">Ok</a>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $("#ButtonDeleteProduct").on("click", function (id) {
            $.ajax({
                url: '/Cart/DeleteProduct/' + $("#ButtonDeleteProduct").data("id"),
                method: 'post',
                dataType: 'json',
                data: $(this).serialize(),
                success: function (data) {
                    $("#CartModal .modal-body").text(data);
                    $('#CartModal').modal('show')
                }
            });
        });
    </script>
}